# LangChain / Agent Configuration
DEEPSEEK_API_KEY= sk-e6678b496c254199af11f31f915cfe65
GROQ_API_KEY= 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
GOOGLE_API_KEY= AIzaSyDO9SCP-44lc6WCnmGbYYc6NNG7lhbm3WQ
TAVILY_API_KEY= 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

# Database
SUPABASE_URL= https://zucmmdvwsntcvneylhpm.supabase.co
SUPABASE_SERVICE_ROLE_KEY= sb_publishable_AS2bGuca3nYW0g4fAtHqJg_0Id8aWrp
# Optional: LangSmith for tracing
# LANGCHAIN_TRACING_V2=true
# LANGCHAIN_API_KEY=your_langsmith_key
